{% extends "app_1/layout/base.html" %}

{% block content %}
<div class="grid-container">
	<div>
		<div id="month">
			<h2>APRIL 2018</h2>
		</div>
		
		<div class="box-calendar">
			<div class="box-day-title">
				<div>SUN</div>
				<div>MON</div>
				<div>TUE</div>
				<div>WED</div>
				<div>THU</div>
				<div>FRI</div>
				<div>SAT</div>
			</div>
			<div class="box-day-element">
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
				<div>5</div>
				<div>6</div>
				<div>7</div>
				<div>8</div>
				<div>9</div>
				<div>10</div>
				<div>11</div>
				<div>12</div>
				<div>13</div>
				<div>14</div>
				<div>15</div>
				<div>16</div>
				<div>17</div>
				<div>18</div>
				<div>19</div>
				<div>20</div>
				<div>21</div>
				<div>22</div>
				<div>23</div>
				<div>24</div>
				<div>25</div>
				<div>26</div>
				<div>27</div>
				<div>28</div>
				<div>29</div>
				<div>30</div>
				<div class="day-after">1</div>
				<div class="day-after">2</div>
				<div class="day-after">3</div>
				<div class="day-after">4</div>
				<div class="day-after">5</div>
			</div>
		</div>
	</div>
	<div>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
	</div>
</div>
{% endblock %}