/** {
	box-sizing: border-box;
}*/

body {
	background-color: #5271ff;
}

.grid-container {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 10px;
	padding: 20px;
	margin: 0;
}

div {
	text-align: center;
	color: white;
}

#month {
	font-family: 'Jua', sans-serif;
	text-align: left;
	font-size: 26px;
	padding-left: 20px;
}
.box-calendar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro';
}

.box-day-title {
	display: flex;
	background-color: #99e265;
}

.box-day-title > div{
	width: calc(100% * 1/7);
	padding: 15px;
	font-family: 'Black Han Sans', sans-serif;
}

.box-day-element {
	display: flex;
	flex-direction: row;
	flex-grow: 88;
	flex-wrap: wrap;
}

.box-day-element > div {
	background-color: white;
	color: black;
	width: calc(100% * 1/7);
	padding: 30px; 
	font-size: 20px;
	box-sizing: border-box;
	border: 1px solid #f5f5f5;
}

.box-day-element > div:nth-child(-n+7) {
	border-top-width: 0;
}

div.day-after {
	color: #d9d9d9;
}