{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-widht, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="APP 1 - Calendar">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app_1.css' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
	<title>
		{% block title %} CalendarKu {% endblock %}
	</title>
</head>
<body>
	<content>
		{% block content %}
		{% endblock %}
	</content>
</body>
</html>